/target/
/lib/
/classes/
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.swp
*.swo
[#]*[#]
.\#*
/.lein-*
/.nrepl-port
/.idea
*.iml
.lein-deps-sum
.repl-*
*-init.clj
out/
dev-resources/public/js/
resources/public/js/
